.main{
    width: 100%;
    margin-left: 50px;
}
.click {
    margin-top: 8px;
    margin-right: 8px;
}
.actionsContainer{
    margin-top: 8px;
    margin-bottom:16px;
}
.resetContainer {
    padding: 24px;
}
.quiz-ans{
    display: -ms-inline-grid;
}
